[submodule "Civ6Fate-RedHare"]
	path = Civ6Fate-RedHare
	url = https://github.com/HaoJun0823/Civ6Fate-RedHare
[submodule "Civ6Fate-Emiya"]
	path = Civ6Fate-Emiya
	url = https://github.com/HaoJun0823/Civ6Fate-Emiya
[submodule "Civ6Fate-Charlemagne"]
	path = Civ6Fate-Charlemagne
	url = https://github.com/HaoJun0823/Civ6Fate-Charlemagne
[submodule "Civ6Fate-MinamotoNoYorimitsu"]
	path = Civ6Fate-MinamotoNoYorimitsu
	url = https://github.com/HaoJun0823/Civ6Fate-MinamotoNoYorimitsu
[submodule "Civ6Fate-FujimaruRistuka"]
	path = Civ6Fate-FujimaruRistuka
	url = https://github.com/HaoJun0823/Civ6Fate-FujimaruRistuka
[submodule "Civ6Fate-AngraMainyu"]
	path = Civ6Fate-AngraMainyu
	url = https://github.com/HaoJun0823/Civ6Fate-AngraMainyu
[submodule "Civ6Fate-Qin"]
	path = Civ6Fate-Qin
	url = https://github.com/HaoJun0823/Civ6Fate-Qin
[submodule "Civ6Fate-Fou"]
	path = Civ6Fate-Fou
	url = https://github.com/HaoJun0823/Civ6Fate-Fou
[submodule "Civ6Fate-ArturiaAlter"]
	path = Civ6Fate-ArturiaAlter
	url = https://github.com/HaoJun0823/Civ6Fate-ArturiaAlter
[submodule "Civ6Fate-ArthurPendragon"]
	path = Civ6Fate-ArthurPendragon
	url = https://github.com/HaoJun0823/Civ6Fate-ArthurPendragon
[submodule "Civ6Fate-Arash"]
	path = Civ6Fate-Arash
	url = https://github.com/HaoJun0823/Civ6Fate-Arash
[submodule "Civ6Fate-Astolfo"]
	path = Civ6Fate-Astolfo
	url = https://github.com/HaoJun0823/Civ6Fate-Astolfo
[submodule "Civ6Fate-Abigail"]
	path = Civ6Fate-Abigail
	url = https://github.com/HaoJun0823/Civ6Fate-Abigail
[submodule "Civ6Fate-SenjiMuramasa"]
	path = Civ6Fate-SenjiMuramasa
	url = https://github.com/HaoJun0823/Civ6Fate-SenjiMuramasa
[submodule "Civ6Fate-Iskandar"]
	path = Civ6Fate-Iskandar
	url = https://github.com/HaoJun0823/Civ6Fate-Iskandar
[submodule "Civ6Fate-LiShuWen"]
	path = Civ6Fate-LiShuWen
	url = https://github.com/HaoJun0823/Civ6Fate-LiShuWen
[submodule "Civ6Fate-JeanneAlter"]
	path = Civ6Fate-JeanneAlter
	url = https://github.com/HaoJun0823/Civ6Fate-JeanneAlter
